<table>
    <tr>
        <td>Average mood today:</td>
        <td><%= avg_mood_today %></td>
    </tr>
    <tr>
        <td>Average mood yesterday:</td>
        <td><%= avg_mood_yesterday %></td>
    </tr>
</table>