<h1>Health reporting app</h1>
<form method='GET' action='/behavior/reporting/morning'>
    <input type='submit' value='Morning report' />
</form>
<form method='GET' action='/behavior/reporting/evening'>
    <input type='submit' value='Evening report' />
</form>