<h1>Morning report:</h1>
<form>
    <label for='sleep_duration'>Sleep duration:</label>
    <input type='number' id='sleep_duration' name='sleep_duration' />
    <br />
    <label for='sleep_quality'>Sleep quality:</label>
    <input type='number' id='sleep_quality' name='sleep_quality' min='1' max='5' />
    <br />
    <label for='mood'>Generic mood:</label>
    <input type='number' id='mood' name='mood' min='1' max='5' />
    <br />
    <input type='submit' value='Send report!' />
</form>