<%- include('./partials/header.ejs') %>

<h1>Make a report</h1>
<p>Choose the type of the report you want to make:</p>

<button type='button' class='link_button'><a href='/behavior/reporting/morning'>Morning report</a></button>
<button type='button' class='link_button'><a href='/behavior/reporting/evening'>Evening report</a></button>

<% if (morning && evening) { %>
    <p>Morning and evening reports for today have already been done!</p>
<% } else if (morning) { %>
    <p>Morning report for today has already been done!</p>
<% } else if (evening) { %>
    <p>Evening report for today has already been done!</p>
<% } else { %>
<% } %>

<%- include('./partials/footer.ejs') %>