<%- include('../partials/header.ejs') %>

<h1>Login</h1>

<%- include('../partials/error.ejs', { errors: errors, attribute: 'credentials'}) %>

<form method='POST' action='/auth/login'>
    <label for='email'>Email:</label>
    <input type='email' id='email' name='email' value='' required />
    <label for='password'>Password:</label>
    <input type='password' id='password' name='password' value='' required />
    <input type='submit' value='Login' />
</form>
<p>Dont't have an account yet? <a href='/auth/registration'>Register</a> now!</p>

<%- include('../partials/footer.ejs') %>