<%- include('../partials/header.ejs') %>

<h1>Register</h1>

<% if (errors) { %>
    <ul>
        <% Object.keys(errors).forEach((attribute) => { %>
            <% Object.values(errors[attribute]).forEach((err) => { %>
                <li><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
<% } %>

<form method='POST' action='/auth/registration'>
    <label for='email'>Email:</label>
    <input type='email' id='email' name='email' value='<%= email %>' />
    <label for='password'>Password:</label>
    <input type='password' id='password' name='password' />
    <label for='verification'>Verify password:</label>
    <input type='password' id='verification' name='verification' />
    <input type='submit' value='Register' />
</form>
<p>Already have an account? <a href='/auth/login'>Login</a> now!</p>

<%- include('../partials/footer.ejs') %>