<label for='date'>Date:</label>
<input type='date' id='date' name='date' value='<%= date %>' min="2017-01-01" max="2020-12-31" required />
<%- include('../error.ejs', { errors: errors, attribute: 'date' }) %>
<script>document.getElementById('date').value = new Date().toISOString().substring(0, 10)</script>
<br />